.img-container {
  width: 480px;
  height: 320px;
  background-color: #ccc;
}
.shimmer-para {
  background-color: #ccc;
  height: 20px;
  width: 200px;
  margin-bottom: 10px !important;
}
.shimmer-heading {
  background-color: #ccc;
  height: 40px;
  width: 200px;
  margin-bottom: 20px !important;
}
